<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
<!-- Grid container -->
<div class="container p-4 footer">
<!--Grid row-->
<div class="row footer-row">
  <!--Grid column-->
  <div class="col-lg-3 col-md-12 col-sm-12 mb-4 mb-md-0">
    <h5 class="text-uppercase">About</h5>

    <ul class="list-unstyled mb-0">
      <li>
        <a href="/about/backstory" class="text-dark">Backstory and Vision</a>
      </li>
      <li>
        <a href="/about/ethos" class="text-dark">Ethos</a>
      </li>
      <li>
        <a href="/about/fitness-roadmap" class="text-dark">Fitness Roadmap</a>
      </li>
      <li>
        <a href="/about/faqs" class="text-dark">FAQs</a>
      </li>
    </ul>
  </div>

  <!--Grid column-->
  <div class="col-lg-3 col-md-12 col-sm-12 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-0">Services</h5>

    <ul class="list-unstyled">
      <li>
        <a href="/services/high-intensity-interval-training" class="text-dark">HIIT</a>
      </li>
      <li>
        <a href="/services/strength-training" class="text-dark">Strength Training</a>
      </li>
      <li>
        <a href="/services/hypertrophy" class="text-dark">Hypertrophy</a>
      </li>
      <li>
        <a href="/services/nutrition-coaching" class="text-dark">Nutrition Coaching</a>
      </li>
      <li>
        <a href="/services/weight-loss" class="text-dark">Weight Loss </a>
      </li>
      <li>
        <a href="/services/yoga" class="text-dark">Yoga</a>
      </li>
    </ul>
  </div>
  <!--Grid column-->

  <div class="col-lg-3 col-md-12 col-sm-12 mb-4 mb-md-0">
    <h5 class="text-uppercase">Media</h5>

    <ul class="list-unstyled mb-0">
      <li>
        <a href="/media/blog" class="text-dark">Fitness Blog</a>
      </li>
      <li>
        <a href="/media/press-coverage" class="text-dark">Press Coverage</a>
      </li>
    </ul>
  </div>

  <!--Grid column-->
  <div class="col-lg-3 col-md-12 col-sm-12 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-0">Contact</h5>

    <ul class="list-unstyled">
      <li>
        <a href="/contact/personal-training" class="text-dark">Personal Training Services</a>
      </li>
      <li>
        <a href="/contact/corporate" class="text-dark">Corporate</a>
      </li>
      <li>
        <a href="/contact/careers" class="text-dark">Careers</a>
      </li>
    </ul>
  </div>

</div>
<!--Grid row-->
</div>


<!-- Copyright -->
<div class="text-center p-3" id="footer-cr-txt"> Copyright © <%= copyrightYr %> RiFitness Ltd </div>
<!-- Copyright -->
</footer>


</div>
</body>

</html>
