<div class="content-wrapper">
  <div class="subjectPageJt">
    <h2>Monthly Subscription Packages</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
  </div>
    <div class="row packages">
      <div class="col-lg-4">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h3>4 Sessions Per Month</h3>
            <div class="pkg-cost"><h2><b>£80</b> <small class="text-muted">/ mo</small></h2></div>
            <div class="pkg-plan-det">
              <ul>
                <li>Basic plan for poor people</li>
                <li>If you still can't afford it then simple f*c* off!</li>
                <li>I run a fitness business not some fu**** charity!</li>
              </ul>
            </div>
             <hr class="my-4">
             <a href="/contact/personal-training" class="btn btn-lg btn-outline-dark linkButton">Enquire</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h3>8 Sessions Per Month</h3>
            <div class="pkg-cost"><h2><b>£160</b> <small class="text-muted">/ mo</small></h2></div>
            <div class="pkg-plan-det">
              <ul>
                <li>You are rich.</li>
                <li>You will pay more!</li>
                <li>You have to pay more!!!!</li>
                <li>My business is for rich people only!</li>
                <li>My business is for rich people only!</li>
                <li>My business is for rich people only!</li>
              </ul>
            </div>
             <hr class="my-4">
             <a href="/contact/personal-training" class="btn btn-lg btn-outline-dark linkButton">Enquire</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h3>12 Sessions Per Month</h3>
            <div class="pkg-cost"><h2><b>£800</b> <small class="text-muted">/ mo</small></h2></div>
            <div class="pkg-plan-det">
              <ul>
                <li>You are super rich.</li>
                <li>I like super rich people!</li>
                <li>I will become rich like you one day!</li>
                <li>My business is for rich people only!</li>
                <li>My business is for rich people only!</li>
                <li>My business is for rich people only!</li>
              </ul>
            </div>
             <hr class="my-4">
             <a href="/contact/personal-training" class="btn btn-lg btn-outline-dark linkButton">Enquire</a>
          </div>
        </div>
      </div>

  </div>
</div>
