<%- include('partials/header') %>
<div class="intro-container text-center">
  <img src="img/intro-banners-l2/pexels-jens-johnsson-66100.jpg" alt="Page Not Found." class="intro-banner-l2">
  <div class="intro-banner-l2-txt"><h2>Page Not Found</h2></div>
</div>

<div class="content-wrapper">
  <div class="jumbotron subjectPageJt">
    <h2>We could not find the requested page.</h2>
  </div>
</div>

<%- include('partials/footer') %>
