<%- include('partials/header') %>
<!--Slideshow-->
<section id="packages" class="bg-coloured">
  <div class="card bg-dark text-white border-0">
    <img class="card-img" src="img/pexels-bruno-bueno-2204196.jpg" alt="Card image">
    <div class="card-img-overlay text-center packages-text">
      <h2>Results that speak for themselves</h2>
      <div id="journey-button">
        <form action="/services/packages">
          <button type="button" class="btn btn-lg btn-primary-outline">View Packages</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
